InquirerPy
Pillow
PyPDF2
aiohttp
asyncio
colorama
cryptography
nest_asyncio
openpyxl
pandas
pdf2image
pytesseract
python-dateutil
python-docx
python-pptx
pywin32
requests
selenium
tabula-py
tabulate
termcolor
tkinter
webdriver-manager
