InquirerPy
qrcode
Pillow
PyPDF2
aiohttp
asyncio
colorama
cryptography
nest_asyncio
openpyxl
pandas
pdf2image
pdfplumber
pytesseract
python-dateutil
python-docx
python-pptx
pywin32
openai
requests
selenium
tabulate
termcolor
webdriver-manager
pdf2docx
camelot-py
opencv-python
PyMuPDF
comtypes
